.UpcomingDaysList {
  list-style: none;
  margin-right: 3.75rem;
  max-width: 320px;
  min-width: 288px;
  width: 100%;
}

.UpcomingDaysList li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 2.5rem;
}
