.Autocomplete {
  position: relative;
}

.Autocomplete-search {
  position: relative;
  z-index: 20;
}

.Autocomplete-result {
  margin-top: -0.5rem;
  position: relative;
  z-index: 10;
}

.Autocomplete-result-list {
  list-style: none;
  max-height: 164px;
  padding: 1rem 0;
  overflow-y: auto;
}

.Autocomplete-result-list li {
  padding: 0 1rem;
}

.Autocomplete-result-list li button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  height: 100%;
  line-height: 2rem;
  outline: none;
  text-align: left;
  width: 100%;
}

.Autocomplete-result-list li:hover {
  background: #dcfaf4;
}
