.App {
  background-image: linear-gradient(180deg, #ffffff 0%, #dfd27f 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.App-main {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1rem;
  width: 100%;
}

.App-header {
  align-items: center;
  display: flex;
  height: 3.75rem;
}

.App-content {
  position: relative;
  width: 100%;
}

.App-search {
  position: absolute;
  width: 100%;
}
