.App {
  background-image: linear-gradient(180deg, #ffffff 0%, #dfd27f 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.App-main {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1rem;
  width: 100%;
}

.App-header {
  align-items: center;
  display: flex;
  height: 3.75rem;
}

.App-content {
  position: relative;
  width: 100%;
}

.App-search {
  position: absolute;
  width: 100%;
}

.App-now {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 320px;
  padding-top: 4.25rem;
}

.App-now h2 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.App-now-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.App-now-temperature {
  display: flex;
  flex-direction: column;
}

.App-now-temperature p {
  font-size: 2rem;
  font-weight: 500;
}

.App-now-temperature small {
  font-size: 1rem;
}

.App-now-icon {
  height: 40px;
  width: 40px;
}
